<div style="display: flex;height: 100vh;" >


 <div class="" style="width: 60%;margin: 30px auto 0;" >


  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Class #1
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">




          <div class="accordion accordion-flush" id="accordionFlush">

            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne1" aria-expanded="false" aria-controls="flush-collapseOne1">
                  section A
                </button>
              </h2>
              <div id="flush-collapseOne1" class="accordion-collapse collapse" aria-labelledby="flush-headingOne1" data-bs-parent="#accordionFlush">
                <div class="accordion-body" style="display: flex;width: 80%;margin-left: 35px;">
                  <div class="container">
                    <div class="row">
                     <div class="col-lg-4" *ngFor="let r of class1" >
                       <p style="cursor: pointer;" (click)="cli()">{{r.name}}</p>
                     </div> 
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo2" aria-expanded="false" aria-controls="flush-collapseTwo">
                  section B
                </button>
              </h2>
              <div id="flush-collapseTwo2" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo2" data-bs-parent="#accordionFlush">
                <div class="accordion-body" style="display: flex;width: 80%;margin-left: 35px;">
                  <div class="container">
                    <div class="row">
                     <div class="col-lg-4" *ngFor="let r of class1" >
                       <p style="cursor: pointer;" (click)="cli()">{{r.name}}</p>
                     </div> 
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo3" aria-expanded="false" aria-controls="flush-collapseTwo3">
                  section C
                </button>
              </h2>
              <div id="flush-collapseTwo3" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo3" data-bs-parent="#accordionFlush">
                <div class="accordion-body" style="display: flex;width: 80%;margin-left: 35px;">
                  <div class="container">
                    <div class="row">
                     <div class="col-lg-4" *ngFor="let r of class1" >
                       <p style="cursor: pointer;" (click)="cli()">{{r.name}}</p>
                     </div> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo4" aria-expanded="false" aria-controls="flush-collapseTwo">
                  section D
                </button>
              </h2>
              <div id="flush-collapseTwo4" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo4" data-bs-parent="#accordionFlush">
                <div class="accordion-body" style="display: flex;width: 80%;margin-left: 35px;">
                  <div class="container">
                    <div class="row">
                     <div class="col-lg-4" *ngFor="let r of class1" >
                       <p style="cursor: pointer;" (click)="cli()">{{r.name}}</p>
                     </div> 
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>


        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Class #2
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">



          
          <div class="accordion accordion-flush" id="accordionFlush2">

            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne11">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne11" aria-expanded="false" aria-controls="flush-collapseOne11">
                  section A
                </button>
              </h2>
              <div id="flush-collapseOne11" class="accordion-collapse collapse" aria-labelledby="flush-headingOne11" data-bs-parent="#accordionFlush2">
                <div class="accordion-body" style="display: flex;width: 80%;margin-left: 35px;">
                  <div class="container">
                    <div class="row">
                     <div class="col-lg-4" *ngFor="let r of class2" >
                       <p style="cursor: pointer;" (click)="cli()">{{r.name}}</p>
                     </div> 
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo22">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo22" aria-expanded="false" aria-controls="flush-collapseTwo22">
                  section B
                </button>
              </h2>
              <div id="flush-collapseTwo22" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo22" data-bs-parent="#accordionFlush2">
                <div class="accordion-body" style="display: flex;width: 80%;margin-left: 35px;">
                  <div class="container">
                    <div class="row">
                     <div class="col-lg-4" *ngFor="let r of class2" >
                       <p style="cursor: pointer;" (click)="cli()">{{r.name}}</p>
                     </div> 
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo33">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo33" aria-expanded="false" aria-controls="flush-collapseTwo33">
                  section C
                </button>
              </h2>
              <div id="flush-collapseTwo33" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo33" data-bs-parent="#accordionFlush2">
                <div class="accordion-body" style="display: flex;width: 80%;margin-left: 35px;">
                  <div class="container">
                    <div class="row">
                     <div class="col-lg-4" *ngFor="let r of class2" >
                       <p style="cursor: pointer;" (click)="cli()">{{r.name}}</p>
                     </div> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo44">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo44" aria-expanded="false" aria-controls="flush-collapseTwo44">
                  section D
                </button>
              </h2>
              <div id="flush-collapseTwo44" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo44" data-bs-parent="#accordionFlush2">
                <div class="accordion-body" style="display: flex;width: 80%;margin-left: 35px;">
                  <div class="container">
                    <div class="row">
                     <div class="col-lg-4" *ngFor="let r of class2" >
                       <p style="cursor: pointer;" (click)="cli()">{{r.name}}</p>
                     </div> 
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          


        
        
        </div>
      </div>
    </div>






    













  </div>




 </div>


   














  <div class="ml-auto student-details" *ngIf="student_details" style="width: 30%;height: 100%; background-color: blueviolet;" >
    <div *ngIf="student_details">
        <div class="mt-2 ml-2" >
          <button class="btn x " (click)="remove()" >X</button>
        </div>
        <div class="det" style="color: rgba(255, 255, 255, 0.87);font-size: 18px;font-weight: 500;
              margin: 60px 15px 15px 15px ;padding: 30px;border-radius: 15px;" >
          <p>Name</p>
          <p>Age</p>
          <p>Gender</p>
          <p>Sports</p>
        </div>
    </div>
  </div>


</div>
